body{
    margin: 0;
    font-size: 16px;
    font-family: 'Space Grotesk', sans-serif;
    overflow: hidden;
}
.container{
    display: flex;
    flex-wrap: wrap;
}

.side-img{
    margin: auto;
}

/*Card Design*/ 

.front-card{
    top: 100px;
    left: 200px;
    color: white;
}

#number-card{
    letter-spacing: 5px;
    font-size: 20px;
}

#name-card{
    margin-right: 100px;
    font-size: 16px;
}

#exp-card{
    font-size: 16px;
}

.front-card p, .front-card span{
    margin-left: 5px;
    margin-top: 30px;
}

.front-card span{
    letter-spacing: 1px;
}


.front-card-img{
    height: 200px;
}

.logo-div{
    height: 100px;
    position: absolute;
    z-index: 2;
    top: 25px;
    left: 20px;
}

.back-card{
    top: 340px;
    left: 300px;
}

.back-card img{
    height: 200px;
}

#cvc-card{
    position:absolute;
    z-index: 2;
    top: 75px;
    left: 295px;
    color: white;
    font-size: 14px;

}
.front-card, .back-card{
    z-index: 1;
    position: absolute;
}

/* Form Rulesets*/

.form{
    margin-left: 300px;
    margin-top: 125px;
    line-height: 1.5;
}

input{
    border: 1px solid hsl(270, 3%, 87%);
    border-radius: 5px;
    padding: 10px;
    /*color: hsl(279, 6%, 55%);*/
}

#name, #card-number{
    padding-right: 200px; 
}

button{
    background-color: hsl(278, 68%, 11%);
    color: white;
    padding: 10px 160px;
    border-radius: 5px;
}

button:hover{
    cursor: pointer;
}
